<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>

<body>
  <div class="page page_background">
    <h1 class="logo logo_bottom_line">Другофильр</h1>
    {{>"./app/common.blocks/workspace/workspace.hbs"}}
  </div>
</body>
<script src="https://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
</html>