.icon_view_plus{

  &:before,
  &:after {
    content:'';
    position: absolute;
    display: block;
    height: 16px;
    width: 4px;
    border-radius: 8px;
  }

  &:before {
    transform: rotate(0deg);
  }

  &:after {
    transform: rotate(-90deg);
  }

}