.icon_view_cross {

  &:before,
  &:after {
    content:'';
    position: absolute;
    display: block;
    height: 16px;
    width: 4px;
    border-radius: 8px;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
  
}