<div class="workspace">
  <div class="block workspace__block-header">
    <p class="text text_color_white text_weight_bold">Выберите друзей</p>
    <a class="icon icon_view_cross icon_color_white" href="#"></a>
  </div>
  <div class="block block_bg_gray">
    <i class="icon icon_view_loupe"></i>
    <input class="input-search input-search_add_icon" type="text" placeholder="Начните вводить имя друга" id="vk-search">
    <input class="input-search" type="text" placeholder="Название" id="filter-search">
  </div>
  <div class="workspace__content">
    <div class="workspace__list workspace__list_border_right">
      <p class="text workspace__text text_size_12 text_weight_bold">Ваши друзья</p>
      <ul class="scroll" id="vk-list">
        {{>"../scroll/__item.hbs"}}
      </ul>
    </div>
    <div class="workspace__list">
      <p class="text workspace__text text_size_12 text_weight_bold">Друзья в списке</p>
      <ul class="scroll" id="filter-list">
      </ul>
    </div>
  </div>
  <div class="block workspace__block-footer block_bg_gray">
    <a class="button" href="#">Сохранить</a>
  </div>
</div>