{{#each items}}
<li class="scroll__item scroll__item_hover_gray" id="vk-list__item">
  <div class="user">
    <img class="user__photo" src="{{photo_100}}">
    <p class="text user__text text_size_12">{{first_name}} {{last_name}}</p>
  </div>
  <a class="icon icon_view_plus icon_color_gray" href="#"></a>
</li>
{{/each}}